<script setup lang="ts">
import type { IUserData } from '@/interfaces/IUserData';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const customRouter = useRouter();

const newUserData = ref<IUserData>({ id: 0, name: '', lastName: '', email: '', age: 0 });
const userList = ref<IUserData[]>([]);

const addUser = () => {
  if (newUserData.value.name && newUserData.value.lastName && newUserData.value.email && newUserData.value.age) {
    newUserData.value.id = userList.value.length;
    userList.value.push({ ...newUserData.value });
    clearUserForm();
  }
};

const clearUserForm = () => {
  newUserData.value = { id: 0, name: '', lastName: '', email: '', age: 0 };
};

const modifyUser = (userId: number) => {
  const index = userList.value.findIndex(user => user.id === userId);
  if (index % 2 === 0) {
    alert('Cannot modify a user with an even index.');
    return; // Exit the function if the index is even
  } else {
    customRouter.push({
      name: 'ModifyUser',
      params: { userId, userList: JSON.stringify(userList.value) },
    });
  }
};
</script>

<template>
  <div>
    <h1>Welcome to Dashboard</h1>
    <form @submit.prevent="addUser" class="custom-form-container">
      <div class="custom-form-group">
        <input type="text" v-model.trim="newUserData.name" class="custom-form-control" placeholder="Full Name" required />
      </div>
      <div class="custom-form-group">
        <input type="text" v-model.trim="newUserData.lastName" class="custom-form-control" placeholder="Last Name" required />
      </div>
      <div class="custom-form-group">
        <input type="email" v-model.trim="newUserData.email" class="custom-form-control" placeholder="Email Address" required />
      </div>
      <div class="custom-form-group">
        <input type="number" v-model.number="newUserData.age" class="custom-form-control" placeholder="Age" required />
      </div>
      <button type="submit" class="custom-btn-submit">Submit User</button>
    </form>

    <div v-if="userList.length > 0">
      <h2>User Database</h2>
      <div class="custom-card-container">
        <div v-for="(userData, index) in userList" :key="index" class="custom-card">
          <p><strong>ID:</strong> {{ userData.id }}</p>
          <p><strong>Name:</strong> {{ userData.name }}</p>
          <p><strong>Last Name:</strong> {{ userData.lastName }}</p>
          <p><strong>Email:</strong> {{ userData.email }}</p>
          <p><strong>Age:</strong> {{ userData.age }}</p>
          <button @click="modifyUser(userData.id)">Modify</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.custom-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.custom-form-group {
  margin-bottom: 15px;
}

.custom-form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.custom-btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.custom-btn-submit:hover {
  background-color: #0056b3;
}

.custom-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.custom-card {
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.custom-card p {
  margin: 0;
}

.custom-card button {
  margin-top: 10px;
}
</style>
@/interfaces/IUserData