<script setup>
import { ref, onMounted } from 'vue';
import { useRouter } from 'vue-router';

const customRouter = useRouter();
const customUserId = Number(customRouter.currentRoute.value.params.userId);
const customUserList = ref([]);

const currentUser = ref(null);

onMounted(() => {
  currentUser.value = customUserList.value.find(u => u.id === customUserId) || null;
});

const updateChanges = () => {
  const index = customUserList.value.findIndex(u => u.id === currentUser.value.id);
  if (index !== -1) {
    customUserList.value.splice(index, 1, currentUser.value);
    customRouter.push('/');
  }
};

const navigateBack = () => {
  customRouter.push('/');
};
</script>

<template>
  <div>
    <h1>Edit Account</h1>
    <div v-if="currentUser">
      <div class="custom-form-group">
        <label for="customName">Name:</label>
        <input type="text" id="customName" v-model.trim="currentUser.name" class="custom-form-control" required />
      </div>
      <div class="custom-form-group">
        <label for="customLastName">Last Name:</label>
        <input type="text" id="customLastName" v-model.trim="currentUser.lastName" class="custom-form-control" required />
      </div>
      <div class="custom-form-group">
        <label for="customEmail">Email:</label>
        <input type="email" id="customEmail" v-model.trim="currentUser.email" class="custom-form-control" required />
      </div>
      <div class="custom-form-group">
        <label for="customAge">Age:</label>
        <input type="number" id="customAge" v-model.number="currentUser.age" class="custom-form-control" required />
      </div>
      <button @click="updateChanges" class="custom-btn-submit">Update Changes</button>
      <button @click="navigateBack" class="custom-btn-cancel">Go Back</button>
    </div>
    <div v-else>
      <p>Account not found</p>
      <button @click="navigateBack" class="custom-btn-cancel">Go Back</button>
    </div>
  </div>
</template>

<style scoped>
.custom-form-group {
  margin-bottom: 15px;
}

.custom-form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.custom-btn-submit {
  background-color: #163494;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.custom-btn-cancel {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
</style>
