<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const customRouter = useRouter();
const customList = ref([]);

const handleSelection = (selectedItem) => {
  customRouter.push({ name: 'ModifyData', params: { dataId: selectedItem.id } });
};
</script>

<template>
  <div style="background-color: #6670ff;">
    <h2>Data Overview</h2>
    <ul>
      <li v-for="(item, idx) in customList" :key="idx" :style="{ backgroundColor: idx % 2 === 0 ? 'lightgray' : 'transparent' }" @click="handleSelection(item)">
        {{ item.title }} - {{ item.subtitle }} - {{ item.contact }} - {{ item.age }}
      </li>
    </ul>
  </div>
</template>
